body{
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    --VertBleu:#155B55;
    --Blanc: #eeeeee;
    --DoreClair:#d2c592;      
    --DoreMedium: #c2a564;
    --DoreSombre: #b99652;
    overflow-x: hidden;
}

.heroBanner{
    width:100%;
    height: auto
}

.displayHome { 
    display: block;
} 

.displayVoyage,.displayCoeur {
    display: flex;
    justify-content: space-around;
}

.backgColor{
    display:flex ;
    flex-direction: column;
    background-color: #d2c592;
    padding: 2vw 0;
    color:  var(--VertBleu);
}

.backgColor h2,.backgColor p{
    display: flex;
    justify-content: center;
}

.photoDestination {
    height: 18vw;
    width: 18vw;
    background-color: #155B55;
}

.cardCoeur p {
    font-size: larger;
}

.backgroundColor{
    background-color: #eeeeeede ;
    border-radius: 20px;
    font-size: larger;
    color: var(--VertBleu);
    padding: 1.2vw;
}

.displayVoyage div  {
    color: var(--VertBleu);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.coupCoeur h2, .coupCoeur p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardCoeur{
    background-color: var(--DoreClair);
    display: flex;
    font-size: larger;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    color: var(--Blanc);
}

.cardCoeur img{
    height: 25vw;
    width: 25vw;
    cursor: pointer;
    background-color: #155B55;
}

.backgColor{
    background-size: cover;
    background-position-Y: 50%;
    color: var(--Blanc);
}

.Taille{
    font-size: 3rem;
    background-color: var(--VertBleu);
    width: 35rem;
    border-top-right-radius: 80px;
    
}

.Taille2{
    font-size: 1.5rem;
    margin-top: -40px;
    background-color: var(--DoreClair);
    color: #155B55;
    width: 35rem;

}

.colorText{
    color: var(--DoreClair);
}

@media (max-width: 780px) {
    .photoDestination{
        height: 20vw;
        width: 20vw 
    }  

    .cardCoeur img{
        height: 30vw;
        width: 30vw;
    }

}
@media (max-width: 570px){
    .Taille {
        width: 100%;
        border-radius: 0;
        font-size: 2rem;
    }

    .Taille2 {
        width: 100%;
        margin-top: -28px;
    }
}


@media (max-width: 380px){
    .displayVoyage{
        display: flex;
        flex-direction: column;
    }

    .photoDestination{
        height: 70vw;
        width: 70vw 
    }    

    .displayCoeur{
        display: flex;
        flex-direction: column;  
    }

    .cardCoeur{
        padding-top: 5vw;
    }

    .cardCoeur img{
        height: 70vw;
        width: 70vw;
    }
}