/* main CSS CGU page desktop */
:root{
    --blueGreen: #155B55;
}
.div-CGU{
    display: flex;
    justify-content: center;
}
/* end main CSS page desktop */


/* title CGU desktop */
#title-CGU{
    width: 39%;
    font-size: 32px;
    color: var(--blueGreen);
    font-family: "manrope";
}
/* end title CGU desktop */


/* paragraph CGU desktop */
#paragraph-CGU{
    width: 80%;
    font-size: 20px;
    font-family: "raleway";
    color: var(--blueGreen);
}
/* end paragraph CGU desktop */

/* CSS mobile version */
@media (max-width: 400px) {
    /* for center the title in mobile format */
    #title-CGU{
        width: 55%;
    }

    
    /* title CGU mobile */
    #paragraph-CGU{
        font-size: 18px;
    }
    /* end title CGU mobile */


    /* paragraph CGU mobile */
    #title-CGU{
        font-size: 22px;
    }
    /* end paragraph CGU mobile */
}
