body{
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  --VertBleu:#155B55;
  --Blanc: #eeeeee;
  --DoreClair:#d2c592;      
  --DoreMedium: #c2a564;
  --DoreSombre: #b99652;
  overflow-x: hidden;
}

.row{
  display: flex;
  align-items: center;
}

.produitDescription{
    display:flex;
    padding: 0 2vw;
    flex-direction: row;
    gap: 5vw;
}

.filtre{
    display:block;
    flex-direction: column;
    padding: 2vw;
    width: 15vw;
    height: auto;
    margin: 1vw;
    color: var(--Blanc);
    background-color: var(--VertBleu);
    flex-direction: row;
    border-radius: 20px;
}

.card{
    display:flex;
    flex-direction: row; 
    align-items: center;
    width: 70vw;
    height: 15vw;
    padding : 1vw;
    gap: 10vw;
}
  
.row input {
  width: 25px;
}


/*
*
*
* gestion slider filtre de prix
*
*/

.PB-range-slider {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: var(--Blanc);
  }





  /*            */