.barHoriz{
  display: block;
  height: 2px;
  width:100%;
  background-color: #155b55;
}
.titreCompte{
  padding:  2vw 2vw;
}

.barVertical{
  height: 10rem;
  width:2px;
  background-color: #155b55;
}
.formulaireResponsive{
  display: none;
}

.testDiv{
  display: flex;
  gap: 20px;
  padding:  0 2vw;
}
.Formulaire{
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}


@media (max-width: 800px){

  .btnTitre {
    display: flex;
    justify-content: space-around;
    gap: 50px;
  }
  .barVertical{display: none;}
  .responsiveReverse{
    display: flex;
    flex-direction: column-reverse;
  }

  .formulaireResponsive{
    display: block;
  }

  .Formulaire {display: none;}
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nomprenom {
  display: flex;
  padding-bottom: 50px;
  padding-top: 20px;
  justify-content: center;
}

#labelnom {
  padding-right: 20px;
  padding-bottom: 20px;
}
#labelprenom {
  padding-right: 20px;
  padding-bottom: 20px;
}
#labelEmail {
  padding-right: 20px;
  padding-bottom: 20px;
}
.motsDP {
  display: flex;
  align-items: row;
}

.colonne {
  display: flex;
  flex-direction: column;
}
.chgmt {
  padding-top: 50px;
}
.input {
  padding-right: 50px;
}
.colonne2 {
  display: flex;
  flex-direction: row;
}
