/* 
*
*Genéral à tous les composants
*
*/

body{
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    --VertBleu:#155B55;
    --Blanc: #eeeeee;
    --DoreClair:#d2c592;      
    --DoreMedium: #c2a564;
    --DoreSombre: #b99652;
    overflow-x: hidden;
  }

/* 
*  Navbar 
*/

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vw;
    width: 100vw;                       
    background: var(--VertBleu);        
    border-bottom: solid 3px #d2c592;
}

.welcomeMsg{
    color: var(--Blanc);
    font-size: 1.2rem;
}

#Logo{
    height: 10vw;
    width: 10vw;
    border-radius: 20px;
}

.Boutons{
    display: flex;
    gap: 2vw; 
}

#connectBtn{
    color: var(--VertBleu); 

}
#connectBtn:hover , .nameLog button:hover{
    color: var(--Blanc); 
    cursor: pointer;

}

input{width: auto;}

button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Blanc);
    height: 5rem;
    width: 10rem;
    background-color: var(--DoreClair);
    border: solid 3px #0d4b46;
    font-size: 1.3rem;
}
#boutton-afficher-details{
    background-color: var(--VertBleu);
    width: 20rem;

}
#boutton-afficher-details:hover {
    background-color: var(--DoreSombre);
  }

.nameLog button {
    color:var(--VertBleu)
}

.displayModulable{
    display: inline;
    gap: 50px;
    justify-content: center;
    align-items: center;
}


/* Navbar Responsive*/
@media (max-width: 780px){

    .nameLog{
        margin-top: -8vh;
    }

    .navbar{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 45vw;
    }
   .Boutons{
        flex-direction: row;
   }
   .Boutons button{
    height: 2rem;
   }

   #Logo{
        height: 10rem;
        width: 10rem;
        border-radius: 20px;
   }

}
@media (max-width: 380px) {
    .navbar{
        height: 60vw;
    }
}

/* 
* Suite pour la searchbar 
*/

.searchbar{
    margin: 5vw;
    padding: 2vw;
    background-color: var(--VertBleu);
    color: var(--Blanc);
    border-radius: 20px;
    border: solid 2px #d2c592;
    display: flex;
    justify-content:space-around;
    gap: 50px;
    align-items: center;
}

.date{
    display: flex;
    gap: 50px;
}

input{
    background-color: #d2c592;
    color: var(--VertBleu);
    font-size: large;
    height: 4vh;
    border-radius: 10px;
    border-style: none;
    text-align: center; 
}
input:hover{
    cursor: pointer;
}

.row input{
    width: auto;
} 

#btnSearch {
    background-color: var(--DoreClair);
    color: var(--VertBleu);
    height: auto;
}
#btnSearch:hover {
    background-color: var(--VertBleu);
    color: var(--Blanc);
    cursor: pointer;
}

.row {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* searchbar responsive*/
@media (max-width: 1130px){
    .searchbar{
        flex-direction: column;
        display:flex;
        align-items:center;
    }
    .searchbar div, .searchbar input {
        width: 95%;
        padding: 0;
    }
    #btnSearch {
        height: 3rem;
        padding: 15px;
        width: 95%;
        height: 10vh;
    }
    .date{
        display: flex;
        flex-direction: column;
    }
}

/*
* Gestion du Footer
*/

footer{
    background-color: var(--VertBleu);
    color: var(--Blanc);
    padding: 3vw 0;
    border-top: solid 20px #d2c592;
    border-image: linear-gradient(to right,#d2c592,#b99652) 10 0 0 0;
}

.espacement{
    display: flex;
    gap: 2vw;
}
.gap{
    display: flex;
    gap: 20vw;
}

.leftColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5vw;
    gap: 2vw;
}

#logoFooter{
    height: 12vw;
}

.column {
    display: flex;
    flex-direction: column;
}

.liens{
    margin: 0vh 0 1vh 0vh;
    display: flex;
    justify-content: space-between;
}

.decoration{
    height: 5px;
    background-color: var(--DoreClair);
    width: 100%;
}

a {
    color: inherit; 
    /* Assure que les liens héritent de la couleur du texte parent */
}

/* footer Responsive*/
@media (max-width: 900px){
  .photoLogement{
    width:100vw;
    height:auto;
  }
    .cardComplete{
        display:none;
        width:100vw;
    }

    .CardDetails{
        display: flex;
        height: auto;
        width: 20vw;
        margin-top:50%;
        margin-bottom:5%;
        margin-left:30%;
        padding-top: 100%;
        display:none;
        justify-content:center;
        align-items:center;
        
    }
    .gap{
        flex-direction: column;
        align-items: center;
        gap: 20vw;
        margin-top:10%;
    }

    #logoFooter{
        height: 20vw;
    }

    .row{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

@media (max-width: 400px){
    .row{
        display: flex;
        gap:20px;
    }
}

/*
* Composant CardDetails ( carte fiche produit page recherche )
*/

.CardDetails{
    background-color: var(--VertBleu);
    display: flex;
    justify-content: center;
    align-items:center ;
    padding: 1vw;
    border-bottom-left-radius: 50px;
    border-top-left-radius:  50px;
}

.cardComplete{
    display: flex;
    height: auto;
    width: 60vw;
    margin-bottom: 15px;    
}

.description{
    font-size: 1.2rem;
}
.textCard{
    background-color: var(--Blanc);
    color: var(--DoreSombre);
    padding: 1vw;
    border: solid 3px #0d4b46;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width: 100%;
    
}
.textCard h2 {
    color: var(--VertBleu); 
}
span{
    color:var(--VertBleu)
}
.photoLogement{
    width: 15vw;
    height: 15vw;
    background-color: #155B55;
    border-radius: 20px;
}

.divPicto{
    display: flex;
    align-items: center;
}

.divPicto img{
    height: 80px;
    width: 80px;
}

@media (max-width: 780px) {

    .produitDescription{
        display: flex;
        justify-content: center;
        gap: 0;
    }
    .cardComplete{
        flex-direction: column;
        align-items: center ;
        width:100%;
    }
    .card{
    align-items: center;
    width: 95vw;    
    gap: 5vw;
    }
    .CardDetails img{
        padding: 0;
        border-radius: 0;
        width: 90vw;
        height: 90vw;
    }
    .CardDetails{
        margin: 0;
        background-color: #fff;
        width: 100%;
        justify-content: center;
    }
    .textCard{
        width: 100%;
        border-radius: 0;
        justify-content: center;
        align-items: center;

    }
    .mobilVersion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Gestion de la modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 91, 85, 0.8); /* Fond semi-transparent #155b55 */
    z-index: 999;
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 80%;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* button {
    background-color: #155b55;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
} */
 
button:hover {
    background-color: #0f423d;
}

#id, #pass{
    color:#0d4b46;
    font-weight: bold;
}